/* * {
  border: 1px solid gold;
} */

.header {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header p {
  margin: 0 auto;
  text-align: center;
}

.container {
  position: absolute;
  /* removes the element from the normal document flow, it is placed relative to the initial containing block */
  width: 100%;
}

button {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
	position: absolute;
  margin-left: 15%;
	height: 600px;
	width: 1000px;
	z-index: 1;

	overflow: auto;

}

.categories {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  border: 5px solid blue;
  border-radius: 5px;
  position: absolute;
  /* Top CSS property participates in specifying the vertical position */
  top: 0;
  /* participates in specifying the horizontal position of an element */
  left: 0;
  z-index: -1;
}

.options {
  text-align: center;
}

.question {
  border: 1px solid grey;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
  /* overflow: auto; */
  margin: 0 auto;
  background-color: white;
  width: 80%;
  height: 50%;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid red;
  cursor: pointer;
}

img:hover {
  opacity: 50%;
}

@media (max-width: 1000px) {
  /* * {
    border: 1px solid gold;
  } */

  .modal{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 600px;;
  }

  h2 {
    font-size: 15px;
  }

  .question {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
